In [8]:
%pip install pandas
%pip install matplotlib

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (2.0.0)
Requirement already satisfied: tzdata>=2022.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2023.3)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2023.3)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: numpy>=1.21.0 in /usr/local/lib/python3.10/dist-packages (from pandas) (1.24.3)
Requirement already satisfied: six>=1.5 in /usr/lib/python3/dist-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.
Defaulting to user installation because normal site-packages is not writeable
Collecting matplotlib
  Downloading matplotlib-3.7.1-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (11.6 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 11.6/11.6 MB 298.5 kB/s eta 0:00:0000:0100:01━━━━━━ 0.5/11.6 MB 394.5 kB/s eta 0:00:29
Requirement already satisfied: numpy>=1.20 in /usr/local/lib/python3.10/dist-packages (from matplotlib) (1.24.3)
Requirement already satisfied: pyparsing>=2.3.1 in /usr/lib/python3/dist-packages (from matplotlib) (2.4.7)
Collecting kiwisolver>=1.0.1
  Downloading kiwisolver-1.4.4-cp310-cp310-manylinux_2_12_x86_64.manylinux2010_x86_64.whl (1.6 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.6/1.6 MB 805.1 kB/s eta 0:00:0000:0100:01
Requirement already satisfied: packaging>=20.0 in /home/landin/.local/lib/python3.10/site-packages (from matplotlib) (23.1)
Requirement already satisfied: python-dateutil>=2.7 in /usr/local/lib/python3.10/dist-packages (from matplotlib) (2.8.2)
Collecting pillow>=6.2.0
  Downloading Pillow-9.5.0-cp310-cp310-manylinux_2_28_x86_64.whl (3.4 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 3.4/3.4 MB 1.4 MB/s eta 0:00:0000:0100:01
Collecting contourpy>=1.0.1
  Downloading contourpy-1.0.7-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (300 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 300.3/300.3 KB 388.5 kB/s eta 0:00:0000:0100:01
Collecting cycler>=0.10
  Downloading cycler-0.11.0-py3-none-any.whl (6.4 kB)
Collecting fonttools>=4.22.0
  Downloading fonttools-4.39.3-py3-none-any.whl (1.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.0/1.0 MB 251.2 kB/s eta 0:00:0000:0100:01
Requirement already satisfied: six>=1.5 in /usr/lib/python3/dist-packages (from python-dateutil>=2.7->matplotlib) (1.16.0)
Installing collected packages: pillow, kiwisolver, fonttools, cycler, contourpy, matplotlib
Successfully installed contourpy-1.0.7 cycler-0.11.0 fonttools-4.39.3 kiwisolver-1.4.4 matplotlib-3.7.1 pillow-9.5.0
Note: you may need to restart the kernel to use updated packages.

In [9]:
# bora codaaaaa(づ ✦ਊ✦)づ
# passo 1: 
# importar as bibliotecas
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')

# importar o dataframe pra uma variavel e dar o display pra olhar
queimadas = pd.read_csv('amazon.csv', encoding = "ISO-8859-1", parse_dates=["date"])
display(queimadas)

Matplotlib is building the font cache; this may take a moment.

      year      state     month  number       date
0     1998       Acre   Janeiro     0.0 1998-01-01
1     1999       Acre   Janeiro     0.0 1999-01-01
2     2000       Acre   Janeiro     0.0 2000-01-01
3     2001       Acre   Janeiro     0.0 2001-01-01
4     2002       Acre   Janeiro     0.0 2002-01-01
...    ...        ...       ...     ...        ...
6449  2012  Tocantins  Dezembro   128.0 2012-01-01
6450  2013  Tocantins  Dezembro    85.0 2013-01-01
6451  2014  Tocantins  Dezembro   223.0 2014-01-01
6452  2015  Tocantins  Dezembro   373.0 2015-01-01
6453  2016  Tocantins  Dezembro   119.0 2016-01-01

[6454 rows x 5 columns]

dar um .info() pra ver uma geral sobre os dados da tabela
vc consegue ver o index de cada coluna, a quantidade de dados nao nulos por coluna
e os tipos de dados
os anos sao dados inteiros(int), o resto é objeto e o number é float
tive q mudar o tipo do date p datetime

In [10]:
# passo 2: 
queimadas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6454 entries, 0 to 6453
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   year    6454 non-null   int64
 1   state   6454 non-null   object
 2   month   6454 non-null   object
 3   number  6454 non-null   float64
 4   date    6454 non-null   datetime64[ns]
dtypes: datetime64[ns](1), float64(1), int64(1), object(2)
memory usage: 252.2+ KB

Geralmente aqui vc ve se tem que tratar os dados mas dependendo da base de dados pronta que vc pega nao precisa, tipo essa. porque ela ja foi tratada.

In [ ]:
queimadas.dtypes

In [11]:
#quantidade total de dados nulos
queimadas.isnull().sum().sum()

0

In [ ]:
# dimensoes do data frame: 6454 linhas e 5 colunas
queimadas.shape

In [15]:
# o shape é um comando do pandaspra puxar uma tupla 
# (n sei se tem esse tipo de dado em outras linguagens)
# mas pra puxar o dado de uma tupla vc coloca o nome da tupla com [] e o index dentro.

#colunas 
queimadas.shape[1]

# linhas
queimadas.shape[0]

6454

In [16]:
# mostra as 5 primeiras linhas
queimadas.head()

   year state    month  number       date
0  1998  Acre  Janeiro     0.0 1998-01-01
1  1999  Acre  Janeiro     0.0 1999-01-01
2  2000  Acre  Janeiro     0.0 2000-01-01
3  2001  Acre  Janeiro     0.0 2001-01-01
4  2002  Acre  Janeiro     0.0 2002-01-01

Teste!

In [18]:
queimadas.last_valid_index

<bound method NDFrame.last_valid_index of       year      state     month  number       date
0     1998       Acre   Janeiro     0.0 1998-01-01
1     1999       Acre   Janeiro     0.0 1999-01-01
2     2000       Acre   Janeiro     0.0 2000-01-01
3     2001       Acre   Janeiro     0.0 2001-01-01
4     2002       Acre   Janeiro     0.0 2002-01-01
...    ...        ...       ...     ...        ...
6449  2012  Tocantins  Dezembro   128.0 2012-01-01
6450  2013  Tocantins  Dezembro    85.0 2013-01-01
6451  2014  Tocantins  Dezembro   223.0 2014-01-01
6452  2015  Tocantins  Dezembro   373.0 2015-01-01
6453  2016  Tocantins  Dezembro   119.0 2016-01-01

[6454 rows x 5 columns]>